In [11]:
students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]
scores_sorted_list = sorted(set(score for name, score in students))
second_lowest_score = scores_sorted_list[1]
# for name, score in students:
#     print(name,score)
second_lowest_score_names =[name for name , score in sorted(students) if score == second_lowest_score]
for name in second_lowest_score_names:
    print(name)
students.reverse()
students

Berry
Harry

[['Harsh', 39],
 ['Akriti', 41],
 ['Tina', 37.2],
 ['Berry', 37.21],
 ['Harry', 37.21]]

In [9]:
students_mark = {"Krishna": [67, 68, 69], "Arjun": [70, 98, 63],"Malika": [52, 56, 60]}
for name, mark in students_mark.items():
    print(name,mark)
students_mark["Krishna"]
len(students_mark["Krishna"])

Krishna [67, 68, 69]
Arjun [70, 98, 63]
Malika [52, 56, 60]

3

In [13]:
students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]
students[::-1][1:]

[['Akriti', 41], ['Tina', 37.2], ['Berry', 37.21], ['Harry', 37.21]]