The included code stub will read an integer, , from STDIN.

Without using any string methods, try to print the following:


Note that "" represents the consecutive values in between.

Example

Print the string .

Input Format

The first line contains an integer .

Constraints


Output Format

Print the list of integers from  through  as a string, without spaces.

In [9]:
if __name__ == '__main__':
    n = int(input())
    
    numbers = list(range(1, n+1))
    for num in numbers:
        print(num, end='')

1
2
3
4
5

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

Task

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

Input Format

Read , the year to test.

Constraints


Output Format

The function must return a Boolean value (True/False). Output is handled by the provided code stub.

In [8]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if (year % 400 == 0) or (year % 4 == 0 and year % 100 !=0 ):
        leap = True 
        
    return leap
    

year = int(input())

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

Input Format

The first line contains . The second line contains an array   of  integers each separated by a space.

Constraints

Output Format

Print the runner-up score.

In [12]:
score = list(arr)
unique_score = list(set(score)) 
sorted_score = sorted(unique_score, reverse=True)
print(sorted_score[1])

[2, 3, 5, 6, 6]

In [16]:
students = []
students.append(['Harry', 37.21])
students.append(['Berry', 37.21])
students.append(['Tina', 37.2])
students.append(['Akriti', 41])
students.append(['Harsh', 39])
students

[['Harry', 37.21],
 ['Berry', 37.21],
 ['Tina', 37.2],
 ['Akriti', 41],
 ['Harsh', 39]]

In [19]:
for name, score in students:
    print(name, score)

Harry 37.21
Berry 37.21
Tina 37.2
Akriti 41
Harsh 39

In [31]:
score_list = sorted(list(set(score for name, score in students)))
score_list

[37.2, 37.21, 39, 41]

In [32]:
second_lowest_score = score_list[1]

In [33]:
list(name for name, score in students if score == second_lowest_score)

['Harry', 'Berry']

In [34]:
sorted(students)

[['Akriti', 41],
 ['Berry', 37.21],
 ['Harry', 37.21],
 ['Harsh', 39],
 ['Tina', 37.2]]

In [40]:
x=1
y=1
z=1
n=2
cuboid_comb = [[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1)]
filtered_coordinates = [coord for coord in cuboid_comb if sum(coord) != n]
filtered_coordinates

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [44]:
import pandas as pd
help(pd.DataFrame.rename)

Help on function rename in module pandas.core.frame:

rename(self, mapper: 'Renamer | None' = None, *, index: 'Renamer | None' = None, columns: 'Renamer | None' = None, axis: 'Axis | None' = None, copy: 'bool | None' = None, inplace: 'bool' = False, level: 'Level | None' = None, errors: 'IgnoreRaise' = 'ignore') -> 'DataFrame | None'
    Rename columns or index labels.

    Function / dict values must be unique (1-to-1). Labels not contained in
    a dict / Series will be left as-is. Extra labels listed don't throw an
    error.

    See the :ref:`user guide <basics.rename>` for more.

    Parameters
    ----------
    mapper : dict-like or function
        Dict-like or function transformations to apply to
        that axis' values. Use either ``mapper`` and ``axis`` to
        specify the axis to target with ``mapper``, or ``index`` and
        ``columns``.
    index : dict-like or function
        Alternative to specifying axis (``mapper, axis=0``
        is equivalent to ``index=mapper``).
    columns : dict-like or function
        Alternative to specifying axis (``mapper, axis=1``
        is equivalent to ``columns=mapper``).
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis to target with ``mapper``. Can be either the axis name
        ('index', 'columns') or number (0, 1). The default is 'index'.
    copy : bool, default True
        Also copy underlying data.
    inplace : bool, default False
        Whether to modify the DataFrame rather than creating a new one.
        If True then value of copy is ignored.
    level : int or level name, default None
        In case of a MultiIndex, only rename labels in the specified
        level.
    errors : {'ignore', 'raise'}, default 'ignore'
        If 'raise', raise a `KeyError` when a dict-like `mapper`, `index`,
        or `columns` contains labels that are not present in the Index
        being transformed.
        If 'ignore', existing keys will be renamed and extra keys will be
        ignored.

    Returns
    -------
    DataFrame or None
        DataFrame with the renamed axis labels or None if ``inplace=True``.

    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis and
        "errors='raise'".

    See Also
    --------
    DataFrame.rename_axis : Set the name of the axis.

    Examples
    --------
    ``DataFrame.rename`` supports two calling conventions

    * ``(index=index_mapper, columns=columns_mapper, ...)``
    * ``(mapper, axis={'index', 'columns'}, ...)``

    We *highly* recommend using keyword arguments to clarify your
    intent.

    Rename columns using a mapping:

    >>> df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
    >>> df.rename(columns={"A": "a", "B": "c"})
       a  c
    0  1  4
    1  2  5
    2  3  6

    Rename index using a mapping:

    >>> df.rename(index={0: "x", 1: "y", 2: "z"})
       A  B
    x  1  4
    y  2  5
    z  3  6

    Cast index labels to a different type:

    >>> df.index
    RangeIndex(start=0, stop=3, step=1)
    >>> df.rename(index=str).index
    Index(['0', '1', '2'], dtype='object')

    >>> df.rename(columns={"A": "a", "B": "b", "C": "c"}, errors="raise")
    Traceback (most recent call last):
    KeyError: ['C'] not found in axis

    Using axis-style parameters:

    >>> df.rename(str.lower, axis='columns')
       a  b
    0  1  4
    1  2  5
    2  3  6

    >>> df.rename({1: 2, 2: 4}, axis='index')
       A  B
    0  1  4
    2  2  5
    4  3  6

In [46]:
if __name__ == '__main__':
    N = int(input())
    my_list = []

    for _ in range(N):
        command, *args = input().split()

        if command == "insert":
            i, e = map(int, args)
            my_list.insert(i, e)
        elif command == "print":
            print(my_list)
        elif command == "remove":
            e = int(args[0])
            my_list.remove(e)
        elif command == "append":
            e = int(args[0])
            my_list.append(e)
        elif command == "sort":
            my_list.sort()
        elif command == "pop":
            my_list.pop()
        elif command == "reverse":
            my_list.reverse()

IndexError: list assignment index out of range

In [49]:
string = "abracadabra"
l = list(string)
l[5] = 'k'
string = ''.join(l)
print(string)

abrackdabra

In [52]:
string = "abracadabra desf"
list(string)

['a',
 'b',
 'r',
 'a',
 'c',
 'a',
 'd',
 'a',
 'b',
 'r',
 'a',
 ' ',
 'd',
 'e',
 's',
 'f']

In [57]:
def count_substring(string, substring):
    count = 0
    sub_len = len(substring)

    for i in range(len(string) - sub_len + 1):
        if string[i:i + sub_len] == substring:
            count += 1

    return count

count_substring("ABCDCDC", "CDC")

2

In [55]:
sting="ABCDCDC"
substring = "CDC"
count = 0
sub_len = len(substring)

for i in range(len(string) - sub_len + 1):
        if string[i:i + sub_len] == substring:
            count += 1

In [64]:
s='qA2'
print(any(c.islower() for c in s))

True

In [67]:
import numpy as np
np_array = np.array([1,2,3,4,5])
print(np_array[1])

2

In [69]:
import pandas as pd

# Creating a DataFrame with missing values
data = {'A': [1, 2, None, 4], 'B': [5, None, 7, 8]}
df = pd.DataFrame(data)

# Using isnull() to check for missing values
print(df.isnull())

# Using isna() to check for missing values
print(df.isna())
print(df)

       A      B
0  False  False
1  False   True
2   True  False
3  False  False
       A      B
0  False  False
1  False   True
2   True  False
3  False  False
     A    B
0  1.0  5.0
1  2.0  NaN
2  NaN  7.0
3  4.0  8.0